<form action="/stations/${_station.id}/addreading" method="POST">
  <div class="columns">
    <div class="field column">
      <label class="label">Code</label>
      <div class="control">
        <input class="input" placeholder="Code" type="number" name="code">
      </div>
    </div>
    <div class="field column">
      <label class="label">Temperature (&deg;C)</label>
      <div class="control">
        <input class="input" placeholder="Temperature (&deg;C)" type="number" name="temperature">
      </div>
    </div>
    <div class="field column">
      <label class="label">Wind Speed (km/h)</label>
      <div class="control">
        <input class="input" placeholder="Wind Speed" type="number" name="windSpeed">
      </div>
    </div>
    <div class="field column">
      <label class="label">Pressure (hPa)</label>
      <div class="control">
        <input class="input" placeholder="Pressure (hPa)" type="number" name="pressure">
      </div>
    </div>
    <div class="field column">
      <label class="label">Wind Direction (&deg;)</label>
      <div class="control">
        <input class="input" placeholder="Wind Direction (&deg;)" type="number" name="windDirection">
      </div>
    </div>
  </div>
  <div class="field mt-4">
    <div class="control">
      <button class="button is-info">Submit Reading</button>
    </div>
  </div>
</form>