<form action="/dashboard/addstation" method="POST">
  <label class="label">Add Weather Station</label>
  <div class="columns">
    <div class="field column">
      <div class="control">
        <input class="input" placeholder="Station Name" type="text" step="any" name="name">
      </div>
    </div>
    <div class="field column">
      <div class="control">
        <input class="input" placeholder="Latitude &deg;N" type="number" step="any" name="latitude">
      </div>
    </div>
    <div class="field column">
      <div class="control">
        <input class="input" placeholder="Longitude &deg;W" type="number" step="any" name="longitude">
      </div>
    </div>
  </div>
  <div class="field mt-4">
    <button class="button is-info">Add Station</button>
  </div>
</form>