<div class="container has-background-link-light">
    <div class="tile-is-ancestor">
        <h3 class="card-header-title is-centered">
            Latest Weather
        </h3>
        <section>
            #{list items:_station, as:'station'}
            <div class="columns is-variable is-1-mobile is-1-tablet is-2-desktop is-4-widescreen is-3-fullhd">
                <div class="column">
                    <div class="box has-background-link-dark has-text-centered">
                        <h3 class="has-text-grey-lighter">${station.name}</h3>
                        <span class="icon is-large has-text-light fa-2x"><i class="fa-solid fa-location-dot"></i></span><hr>
                    <div class="has-text-centered has-text-white">
                        <p>Latitude: ${station.getLatitude()} &deg;N</p>
                        <p>Longitude: ${station.getLongitude()} &deg;W</p>
                    </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-link-dark has-text-centered">
                        <h3 class="has-text-grey-lighter">Current Conditions:</h3>
                        <span class="icon has-text-light is-large fa-2x">
                          <i class="${station.getLatestWeatherIcon()}"></i></span>
                        <hr>
                        <div class="has-text-white">
                            <p>${station.getLatestCodeReadingText()}</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-link-dark has-text-white has-text-centered">
                        <h3 class="has-text-grey-lighter">Temperature</h3>
                        <span class="icon has-text-light is-large fa-2x"><i class="${station.getLatestReading().getTemperatureIcon()}"></i></span>
                        <hr>
                        <div class="has-text-white">${station.getLatestReading().getTemperature()} &deg;C / ${station.getLatestReading().getFahrenheit()} &deg;F</div>
                        <p><span class="has-text-weight-bold">Max: </span>${station.getMaxTemperature()} &deg;C</p>
                        <p><span class="has-text-weight-bold">Min: </span>${station.getMinTemperature()} &deg;C</p>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-link-dark has-text-white has-text-centered">
                        <h3 class="has-text-grey-lighter">Wind</h3>
                        <span class="icon has-text-light is-large fa-2x"><i class="fa-solid fa-wind"></i></span>
                        <hr>
                        <div class="has-text-white has-text-left">
                            <p class="has-text-weight-bold">${station.getLatestReading().getWindDescription()}</p>
                            <p><span class="has-text-weight-bold">Speed:</span> ${station.getLatestReading().getWindSpeed()} (km/h) / ${station.getLatestReading().getBeaufort()} (bft)</p>

                            <p><span class="has-text-weight-bold">Direction:<br></span> ${station.getLatestReading().getWindDirection()}</p>

                            <p><span class="has-text-weight-bold">Feels Like:</span> ${station.getLatestReading().getWindChill()} &deg;C</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-link-dark has-text-white has-text-centered">
                        <h3 class="has-text-grey-lighter">Pressure</h3>
                        <span class="icon has-text-light is-large fa-2x"><i class="fa-solid fa-gauge"></i></span>
                        <hr>
                        <p class="has-text-white">
                            ${station.getLatestReading().getPressure()} (hPa)
                        </p>
                    </div>
                </div>
            </div>
            #{/list}
        </section>
    </div>
</div>