<table class="table is-hoverable">
  <thead>
  <tr>
    <th>Weather Conditions</th>
    <th>Code</th>
    <th>Temperature</th>
    <th>Wind Speed</th>
    <th>Pressure (hPa)</th>
  </tr>
  </thead>
  <tbody>
  #{list items:_station.readings, as:'reading'}
  <tr>
    <td>
      <p class="has-text-weight-bold">${reading.getCodeReadingToText()}</p>
        <p class="icon is-large"><span class="fa-lg"><i class="${reading.getWeatherIcon()}"></i></span></p>
    </td>
    <td>
      <p>${reading.code}</p>
    </td>
    <td>
      ${reading.temperature} &deg;C / ${reading.getFahrenheit()} &deg;F
    </td>
    <td>

      ${reading.windSpeed} (km/h) / ${reading.getBeaufort()} (bft)
     <br>
      ${reading.getWindDirection()}
      <br>
      Feels Like: ${reading.getWindChill()} &deg;C

    </td>
    <td>
      ${reading.pressure}
    </td>
    <td>
      <a href="/stations/${_station.id}/deleteReading/${reading.id}"><span class="icon has-text-danger">
  <i class="fas fa-trash fa-lg"></i>
</span></a>
    </td>
  </tr>
  #{/list}
  </tbody>
</table>
