<nav class="navbar is-link is-inverted has-text-link-light">
   <div class="navbar-brand">
    <a id="start" class="navbar-item" href="/"> WeatherTop </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a id="dashboard" class="navbar-item" href="/dashboard">Dashboard</a>
      <a id="about" class="navbar-item" href="/about">About</a>
    <div class="navbar-item has-dropdown is-hoverable">
      <div class="icon is-large">
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="navbar-dropdown is-boxed">
        <a id="updateuser" class="navbar-item" href="/updateuser">Edit Details</a>
        <a id="logout" class="navbar-item" href="/logout">Logout</a>

      </div>
    </div>

    </div>
  </div>

</nav>

<script>
  $("#${_id}").addClass("has-background-info-light has-text-grey-darker");
</script>