#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<div class="content box has-background-info-light">
#{if stations.size() > 0}
#{list items:stations, as:'station'}

  <h1 class="title is-size-2">
    ${station.name}
  </h1>

      <a href="/stations/${station.id}" class="icon has-text-primary is-large">
        <i class="fas fa-folder fa-2x"></i>
      </a>

#{/list}
#{/if}
#{else}
<p>You have no Weather Stations, please enter your weather station details below</p>
#{/else}
</div>
#{addstation /}