#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<div class="content box has-background-info-light">
#{if stations.size() > 0}
#{list items:stations, as:'station'}

  <h1 class="title is-size-2">
    ${station.name}
  </h1>

      <a href="/stations/${station.id}" class="icon has-text-primary is-large">
        <i class="fas fa-folder fa-lg"></i>
      </a>
<span class="pl-auto">
    <a href="/dashboard/deleteStation/${station.id}" class="icon has-text-danger is-large">
        <i class="fas fa-trash fa-lg"></i>
    </a>
</span>
#{/list}
#{/if}
#{else}
<p class="has-text-weight-bold is-size-5 has-text-centered">You have no Weather Stations listed.<br> Please enter your weather station details below</p>
#{/else}
</div>
#{addstation /}