#{extends 'main.html' /}
#{set title:'Welcome' /}

#{menu id:"start"/}

<div class="content box has-background-info-light">
    <div class="has-background-info-light">
    <div class="columns mt-5 is-8">
    <div class="column is-one-half">
    <p class="title">
        Welcome to WeatherTop
    </p>
        <p>
            Welcome to WeatherTop: a weather station web companion to your WeatherTop weather station. Simply enter your Station details on the dashboard.
        </p>
    </div>

        <div class="column is-one-half">
    <div class ="tile is-child">
    <div class="image-is-128x128">
        <img class="is-rounded" src="https://wit-hdip-comp-sci-2023-web-dev-1.netlify.app/topic---assignments/unit-b-assign-2/talk-1-assignment-talk/assignment-2.png" alt="Weather Icons">
    </div>
    </div>
        </div>
    </div>
    </div>
</div>
