#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<div class="content box has-background-link-light">
  <div class="columns">
    <div class="column is-one-fifth">
      <span class="has-text-centered">
    <h1 class="title is-size-2">
    ${station.name}
  </h1>

      <h4>
        ${station.getLatitude()} &deg;N
      </h4>
      <h4>
        ${station.getLongitude()} &deg;W
      </h4>
</span>

    </div>
    <div class="column">
      <img src="/public/images/compass2.png" class="image is-128x128">
    </div>
    <div class="column">

    </div>
  </div>
  #{if station.readings.size() > 0}
  #{latestreadings station:station /}
  <div class="box is-info has-background-primary-light">
    <div>
      <h3 class="has-text-centered is-size-3">All Weather Reports:</h3>

      <p>#{listreadings station:station /}</p>

    </div>
  </div>
  #{/if}
  #{else}
  <div>
  <span class="box is-large is-size-5 has-text-weight-bold has-text-success-dark has-text-centered m-0">No readings have been recorded for ${station.name} <br> Please submit your first reading below</span>
  </div>
  #{/else}
  <div class="box has-background-grey-light">
  #{addreading station:station /}
  </div>
</div>

