#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<div class="content box has-background-link-light">



    <h1 class="title has-text-link is-size-2">
    ${station.name}
        <span class="icon is-large has-text-link fa-lg"><i class="fa-solid fa-location-dot"></i></span>
  </h1>

      <h4 class="has-text-link">
        ${station.getLatitude()} &deg;N

        ${station.getLongitude()} &deg;W
      </h4>






  #{if station.readings.size() > 0}
  #{latestreadings station:station /}
  <div class="box is-info has-background-primary-light">
    <div>
      <h3 class="has-text-centered is-size-3">All Weather Reports:</h3>

      <p>#{listreadings station:station /}</p>

    </div>
  </div>
  #{/if}
  #{else}
  <div>
  <span class="box is-large is-size-5 has-text-weight-bold has-text-success-dark has-text-centered m-0">No readings have been recorded for ${station.name} <br> Please submit your first reading below</span>
  </div>
  #{/else}
  <div class="box has-background-grey-light">
  #{addreading station:station /}
  </div>
</div>

